@model SQLInjection.Models.Details



<div>
    <hr />
    <h2>Product Details</h2>
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayFor(model => model.Id)</td>
            <th>@Html.DisplayNameFor(model => model.ProdName)</th>
            <td>@Html.DisplayFor(model => model.ProdName)</td>
            <th>@Html.DisplayNameFor(model => model.Cost)</th>
            <td>@Html.DisplayFor(model => model.Cost)</td>
        </tr>
       
    </table>
</div>

